body{
    background-color:#EEEEEE;
}
.btn {
    padding: 8px 12px;
    border-radius: 0;
}

/* Grid Css*/
div.ui-grid-cell input[type="checkbox"] {
    margin: 4px 0 0 4px !important;
}
.myGrid {
    width: 100%;
    height: 300px;
  }
.ui-grid-top-panel {
    height: 30px;
}
.ui-grid-viewport {
    overflow: auto !important;
}

/* General */
.todolist{
    background-color:#FFF;
    padding:20px;
    margin-top:30px;
}
.todolist h1{
    margin:0;
    padding-bottom:20px;
    text-align:center;
}
.form-control{
    border-radius:0;
}
li.ui-state-default{
    background:#fff;
    border:none;
    border-bottom:1px solid #ddd;
}

.todo-footer{
    background-color:#F4FCE8;
    padding: 10px 20px;
}
span.done-true{
    text-decoration:line-through;
}
#checkAll{
    margin-top:10px;
}

/*Filter css*/
#filters {
	margin: 0;
	padding: 0;
	list-style: none;
}

#filters li {
	display: inline;
}

#filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

#filters li a.selected,
#filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

#filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

/* Drag drop css */
.ui-grid-draggable-row-target {
  opacity: 0.5 !important;
}
.ui-grid-draggable-row {
  height: 30px;
}
.ui-grid-draggable-row-over {
  position: relative;
}
.ui-grid-draggable-row-over:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  border-bottom: 1px dotted #AAA;
}
.ui-grid-draggable-row-over--above:before {
  top: 0;
}
.ui-grid-draggable-row-over--below:before {
  bottom: 0;
}