<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf8">
    <title>Todo List</title>
    <link rel="stylesheet" href='assets/css/style.css' />
</head>

<body>
<div class="wrapper">
  <header>
    <h1 class="title">Task Tracker</h1>
    <p class="version">v2.0</p>
  </header>
  <section class="input">
    <h2 class="instruction">Create a Task</h2>
    <div id="task">
      <label class="form-label">Task Name</label><br>
      <input class="form-enter name" id="new-todo" type="text" />
      <br>
      <label class="form-label">Date</label><br>
      <input class="form-enter date" id="new-date" type="text" />
      <br>
      <label class="form-label">Assigned To</label><br>
      <input class="form-enter assigned" id="new-assign" type="text" />
      <br>
      <input id="saveTask" class="submit" type="submit" value="Submit">
    </div>
  </section>
  <section class="output">
    <h2 class="existing">Existing Tasks</h2>
    <div class="task-wrapper" id='main'>
        <table id='todo-list'>
          <tbody>
            
          </tbody>
        </table>
    </div>
  </section>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>